// Componente: {{pascalCase name}}
// Creada por Plop

interface {{pascalCase name}}Props {
  // TODO: Definir props del componente
}

export function {{pascalCase name}}({}: {{pascalCase name}}Props) {
  return (
    <div>
      {/* TODO: Implementar componente {{pascalCase name}} */}
    </div>
  );
}
